.home {
  border-radius: .625rem;
  border-color: beige;
  border-style: solid;
  padding-bottom: .9375rem;
  background-color:rgb(176, 175, 177);
  color: rgb(43, 42, 42);

  &__price {
    font-weight: 700;
    color: black;
  }
}